* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {

    .section1 {
        width: $w;
        height: 70px;
        @include ajusting($flex-d:row);
        padding: $pding;
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
      

        .icon-tab {
            width: 150px;
            @include jc-and-al-it;
            color: #b7b7b8;

            .fa-solid{
                font-size: 18px;
                cursor: pointer;
                transition: .4s;
            }
            .fa-solid:hover {
                color: $main-color;
                transition: .4s;

            }
            .fa-brands {
                font-size: 18px;
                cursor: pointer;
                transition: .4s;
            }
            .fa-brands:hover {
                color: $main-color;
                transition: .4s;
            }
        }

        .btn {
            width: 250px;
            @include jc-and-al-it;
            .free {
                @include btn-style;
                background-color: rgba(0, 0, 0, 0.03);
                cursor: pointer;
            height: 40px;
            position: relative;

            }
            .lang1 {
                display: none;
                width: 120px;
                height: 150px;
                background-color: #dfdfdf;
                list-style: none;
                position: absolute;
                bottom: -10;
                transition: 0.4s;
                li {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    opacity: 0.4;

                }
                li:hover {
                    background-color: #b7b7b8;
                    opacity: 0.4;
                }
            }
            .free:hover .lang1 {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-around;
                transition: 0.4s

            }
            .free1 {
                @include btn-style;
                background-color: $main-color;
                cursor: pointer;
            height: 40px;
            transition: 0.4s;

            }

            .free1:hover {
                background-color: white;
                border: 3.5px solid $main-color;
                transition: 0.4s

            }
        }

    }
    .section2 {
        width: $w;
        height: 100px;
        @include ajusting($flex-d:row);
        padding: $pding;
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
        ul {
            width: 40%;
            @include jc-and-al-it;
            list-style: none;
        }
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    .header {
        .section1 {
            display: none;
        }
        
    }
   
}

@media screen and (min-width:576px) and (max-width:996px)  {
    .header {

        .section1 {
            padding: 0 60px;

            .icon-tab {
                width: 100px;
                .fa-brands {
                    font-size: 12px;
                }
                .fa-solid {
                    font-size: 12px;
                }
            }
            .btn {
                width: 180px;

                .free {
                    width: 85px;
                    height: 30px;
                }
                .free1 {
                    width: 85px;
                    height: 30px;

                }
            }
        }
    }
}