* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    @include widen;
    background-color: $main-color;
  }
  
  .header {
    @include section-style(column);
    align-items: center;
  }

  .section1 {
    @include section-style(row);
    padding: $padding-sides;
    height: 30px
  }

  .section2 {
    @include section-style(row);
    width: $full-width;
    padding: $padding-sides;
  }

  .homeBar {
    @include section-style(row);
    width: 70%;
    list-style: none;
  }

  .midle {
    @include set-backgrouund;

  }
