* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header .section1 {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .section1 .icon-tab {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b7b7b8;
}
.header .section1 .icon-tab .fa-solid {
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-solid:hover {
  color: #FAB700;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-brands {
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-brands:hover {
  color: #FAB700;
  transition: 0.4s;
}
.header .section1 .btn {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .section1 .btn .free {
  border: none;
  width: 120px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 40px;
  position: relative;
}
.header .section1 .btn .lang1 {
  display: none;
  width: 120px;
  height: 150px;
  background-color: #dfdfdf;
  list-style: none;
  position: absolute;
  bottom: -10;
  transition: 0.4s;
}
.header .section1 .btn .lang1 li {
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.4;
}
.header .section1 .btn .lang1 li:hover {
  background-color: #b7b7b8;
  opacity: 0.4;
}
.header .section1 .btn .free:hover .lang1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  transition: 0.4s;
}
.header .section1 .btn .free1 {
  border: none;
  width: 120px;
  height: 45px;
  background-color: #FAB700;
  cursor: pointer;
  height: 40px;
  transition: 0.4s;
}
.header .section1 .btn .free1:hover {
  background-color: white;
  border: 3.5px solid #FAB700;
  transition: 0.4s;
}
.header .section2 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .section2 ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  .header .section1 {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 996px) {
  .header .section1 {
    padding: 0 60px;
  }
  .header .section1 .icon-tab {
    width: 100px;
  }
  .header .section1 .icon-tab .fa-brands {
    font-size: 12px;
  }
  .header .section1 .icon-tab .fa-solid {
    font-size: 12px;
  }
  .header .section1 .btn {
    width: 180px;
  }
  .header .section1 .btn .free {
    width: 85px;
    height: 30px;
  }
  .header .section1 .btn .free1 {
    width: 85px;
    height: 30px;
  }
}