* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.header .section1 {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .section1 .icon-tab {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #b7b7b8;
}
.header .section1 .icon-tab .fa-solid {
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-solid:hover {
  color: #FAB700;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-brands {
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.header .section1 .icon-tab .fa-brands:hover {
  color: #FAB700;
  transition: 0.4s;
}
.header .section1 .btn {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .section1 .btn .free {
  border: none;
  width: 120px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 40px;
  position: relative;
}
.header .section1 .btn .lang1 {
  display: none;
  width: 120px;
  height: 150px;
  background-color: #dfdfdf;
  list-style: none;
  position: absolute;
  bottom: -10;
  z-index: 1;
  transition: 0.4s;
}
.header .section1 .btn .lang1 li {
  width: 100%;
  height: 100%;
  text-align: center;
}
.header .section1 .btn .lang1 li:hover {
  background-color: #b7b7b8;
}
.header .section1 .btn .free:hover .lang1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  transition: 0.4s;
}
.header .section1 .btn .free1 {
  border: none;
  width: 120px;
  height: 45px;
  background-color: #FAB700;
  cursor: pointer;
  height: 40px;
  transition: 0.4s;
}
.header .section1 .btn .free1:hover {
  background-color: white;
  border: 3.5px solid #FAB700;
  transition: 0.4s;
}
.header .section2 {
  width: 100%;
  height: 100px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .section2 .logo {
  width: 150px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.header .section2 .logo .fa-bars {
  display: none;
}
.header .section2 .list {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
.header .section2 .list li {
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}
.header .section2 .list li:hover {
  color: #FAB700;
  transition: 0.4s;
}
.header .section2 .list .pages {
  position: relative;
}
.header .section2 .list .elements {
  display: none;
  width: 100px;
  height: 100px;
  background-color: rgb(209, 208, 208);
  list-style: none;
  position: absolute;
  bottom: -10;
  transition: 1s;
}
.header .section2 .list .pages:hover .elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.7s;
}
.header .section2 .list .blog {
  position: relative;
}
.header .section2 .list .detail {
  display: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 1s;
  background-color: #dfdfdf;
  position: absolute;
  bottom: -10;
}
.header .section2 .list .detail > li {
  font-size: 15px;
  list-style-type: none;
  font-size: 13px;
}
.header .section2 .list .blog:hover .detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.7s;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(https://preview.colorlib.com/theme/builder/img/banner/home-banner.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
}
.main .text-area {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .text-area .dream {
  background-color: #FAB700;
  border-radius: 5px;
  color: black;
  font-weight: 100;
  font-size: 25px;
}
.main .text-area .lorem {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 30px;
}
.main .text-area .btn-now {
  width: 100%;
  text-align: center;
}
.main .text-area .btn-now .now {
  background-color: rgb(30, 30, 30);
  color: #FAB700;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 12px;
  transition: 0.6s;
  cursor: pointer;
}
.main .text-area .btn-now .now:hover {
  background-color: #FAB700;
  color: white;
  transition: 0.6s;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.offer .text-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 30px;
}
.offer .text-offer .service {
  font-size: 25px;
  font-weight: 900;
  padding-top: 50px;
}
.offer .text-offer .dolor {
  font-size: 13px;
}
.offer .cards {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.offer .cards .building-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 250px;
  transition: 0.9s;
}
.offer .cards .building-card .drawing {
  font-size: 18px;
  font-weight: 600;
}
.offer .cards .building-card .inpus {
  width: 250px;
  text-align: center;
  font-size: 13px;
  color: rgb(177, 175, 175);
}
.offer .cards .building-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 5px rgb(188, 187, 187);
  transition: 0.9s;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.projects .our {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 120px;
}
.projects .latest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.projects .latest .alex {
  display: grid;
  grid-template-areas: "myArea myImage myBuilding" "myArea1 myImage1 myBuilding1";
}
.projects .latest .alex .yellow-text {
  display: none;
  transform: scale(0.9);
}
.projects .latest .alex .it:hover {
  position: relative;
  transition: 0.8s;
  transition-timing-function: ease;
}
.projects .latest .alex .it:hover .yellow-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #FAB700;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.8s;
  transform: scale(1);
}
.projects .latest .alex .area1 {
  width: 100%;
}
.projects .latest .alex .item1 {
  grid-area: myArea;
}
.projects .latest .alex .item2 {
  grid-area: myImage;
}
.projects .latest .alex .item3 {
  grid-area: myBuilding;
}
.projects .latest .alex .item4 {
  grid-area: myArea1;
}
.projects .latest .alex .item5 {
  grid-area: myImage1;
}
.projects .latest .alex .item6 {
  grid-area: myBuilding1;
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
}
.expert .meet {
  text-align: center;
  height: 100px;
}
.expert .meet .we {
  font-size: 35px;
}
.expert .meet .eco {
  font-size: 15px;
  color: #959595;
}
.expert .cards-Box {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.expert .cards-Box .card-Box {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.expert .cards-Box .card-Box .image-Box {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
}
.expert .cards-Box .card-Box .image-Box .icons {
  display: none;
  overflow: hidden;
  font-size: 13px;
}
.expert .cards-Box .card-Box .image-Box .user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.expert .cards-Box .card-Box .image-Box:hover .icons {
  display: block;
  transform: scale(0.4) 2s, scale(1.1) 2s;
  transition: 3s;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
  background-color: #FAB700;
  opacity: 0.5;
}
.expert .cards-Box .card-Box .text-Box {
  text-align: center;
  padding: 10px;
}
.expert .cards-Box .card-Box .text-Box .name {
  font-size: 18px;
  font-weight: 900;
}
.expert .cards-Box .card-Box .text-Box .sale {
  font-size: 14px;
  color: #959595;
}

.yellowrow {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAB700;
  padding: 30px;
}
.yellowrow .numbers {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 15px;
}
.yellowrow .projct {
  font-size: 15px;
  color: #1e1e1e;
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .section1 {
    display: none;
  }
  .header .section2 {
    width: 100%;
  }
  .header .section2 .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: none;
  }
  .header .section2 .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .section2 .logo .fa-bars {
    display: block;
    font-size: 30px;
    transition: 0.6s;
    cursor: pointer;
  }
  .header .section2 .logo .fa-bars:hover {
    color: #FAB700;
    transition: 0.6s;
  }
  .header .section2 .logo img {
    width: 100px;
  }
}
.main {
  width: 100%;
  height: 50vh;
}
.main .text-area {
  width: 300px;
  height: 200px;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.offer .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
  gap: 30px;
}
.expert .meet .we {
  font-size: 30px;
}
.expert .meet .eco {
  font-size: 13px;
}
.expert .cards-Box {
  flex-wrap: wrap;
}
.expert .cards-Box .card-Box {
  width: 45%;
}

.yellowrow {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.yellowrow .numbers {
  font-size: 30px;
}
.yellowrow .projct {
  font-size: 10px;
}

.features {
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 576px) and (max-width: 996px) {
  .header .section1 {
    padding: 0 60px;
    height: 60px;
  }
  .header .section1 .icon-tab {
    width: 100px;
  }
  .header .section1 .icon-tab .fa-brands {
    font-size: 12px;
  }
  .header .section1 .icon-tab .fa-solid {
    font-size: 12px;
  }
  .header .section1 .btn {
    width: 180px;
  }
  .header .section1 .btn .free {
    width: 85px;
    height: 30px;
  }
  .header .section1 .btn .free1 {
    width: 85px;
    height: 30px;
  }
  .header .section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
  }
  .header .section2 .list {
    display: none;
  }
  .header .section2 .logo {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .header .section2 .logo .fa-bars {
    display: block;
    font-size: 35px;
    width: 40px;
    transition: 0.4s;
  }
  .header .section2 .logo .fa-bars:hover {
    color: #FAB700;
    transition: 0.4s;
  }
  .main {
    width: 100vw;
    height: 70%;
  }
  .main .text-area {
    width: 500px;
    height: 220px;
  }
  .main .text-area .lorem {
    font-size: 14px;
    padding: 0;
  }
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .offer .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .latest {
    width: 100%;
    height: 100vh;
  }
  .expert {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .expert .cards-Box {
    flex-wrap: wrap;
  }
  .expert .cards-Box .card-Box {
    width: 180px;
    height: 320px;
  }
  .yellowrow {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .yellowrow .numbers {
    width: 100px;
    font-size: 60px;
    font-weight: bold;
  }
  .yellowrow .projct {
    font-size: 15px;
  }
}
@media screen and (min-width: 997px) and (max-width: 1400px) {
  .expert {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    gap: 30px;
  }
  .expert .cards-Box .card-Box {
    width: 200px;
    height: 330px;
  }
  .section2 {
    width: 100vw;
    padding: 0 20px;
  }
  .section2 .list {
    font-size: 10px;
  }
  .mian {
    width: 100%;
    height: 100vh;
  }
}