* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container header {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
  position: sticky;
  top: 0;
  background-color: white;
}
.container header .fa-bars {
  display: none;
}
.container header .logo {
  width: 80px;
  cursor: pointer;
}
.container header .logo .fa-solid {
  width: 20%;
}
.container header .logo img {
  width: 100%;
  height: 100%;
}
.container header label {
  width: 60%;
  height: 65%;
  border: 1px solid #5D3EBC;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}
.container header label .fa-solid {
  font-size: 20px;
  color: #5D3EBC;
}
.container header label input {
  border: none;
  outline: none;
  font-size: 18px;
}
.container header .location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 20%;
  height: 50%;
  cursor: pointer;
}
.container header .location .fa-solid {
  color: #5D3EBC;
  font-size: 25px;
}
.container header .location .adress {
  text-decoration: underline;
  color: #5D3EBC;
}
.container header .location hr {
  width: 8%;
  -webkit-transform: rotate(90deg);
}
.container header .shopping .fa-solid {
  display: none;
}
.container header .cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.container header .cart .fa-solid {
  color: #5D3EBC;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.container header .cart .account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.container header .cart .account .fa-user {
  color: #5D3EBC;
  font-size: 25px;
  width: 20%;
  padding-right: 10px;
  cursor: pointer;
}
.container header .cart .account .bank {
  width: 80%;
  padding-top: 5px;
}
.container header .cart .account .bank .bee {
  font-size: 14px;
}
.container header .cart .account .bank .subscribe {
  font-size: 14px;
  text-decoration: underline;
  color: #5D3EBC;
}
.container nav {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container nav .row-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #F6F7F9;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container nav .row-bar span {
  width: 100px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: 0.1s;
  padding-bottom: 5px;
  cursor: pointer;
}
.container nav .row-bar span:hover {
  border-bottom: 3px solid #5D3EBC;
  transition: 0.1s;
}
.container nav .row-bar .item0 {
  display: none;
}
.container nav .row-bar .item1 {
  display: none;
}
.container nav .row-bar .item2 {
  display: none;
}
.container nav .row-bar .item3 {
  display: none;
}
.container nav .row-bar .item4 {
  display: none;
}
.container nav .row-bar .item5 {
  display: none;
}
.container nav .row-bar .item6 {
  display: none;
}
.container nav .row-bar .item7 {
  display: none;
}
.container nav .row-bar .item8 {
  display: none;
}
.container .middle {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .middle .img-Box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .middle .img-Box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.container .signIn {
  display: none;
}

.products {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.products .echo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100px;
  background-color: #F6F7F9;
  margin: 20px 0;
  border-radius: 15px;
}
.products .echo .items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: 570;
  cursor: pointer;
}
.products .echo .items img {
  width: 20%;
  height: 20%;
}
.products .echo hr {
  width: 30px;
  -webkit-transform: rotate(90deg);
}
.products .card-container {
  width: 100%;
}
.products .card-container .cards {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.products .card-container .cards .card1 {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.products .card-container .cards .card1 .vacuum {
  width: 100%;
  text-align: center;
}
.products .card-container .cards .card1 .vacuum p {
  color: #5D3EBC;
  font-weight: 900;
  font-size: 18px;
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container .logo1 {
    width: 100%;
    text-align: center;
  }
  .container .logo1 img {
    width: 60px;
  }
  .container header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .container header .logo {
    display: none;
  }
  .container header label {
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    overflow: hidden;
  }
  .container header label .fa-solid {
    font-size: 15px;
    flex-shrink: 0;
  }
  .container header label input {
    font-size: 14px;
    text-overflow: ellipsis;
  }
  .container header .location {
    display: none;
  }
  .container header .shopping {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #5D3EBC;
    cursor: pointer;
  }
  .container header .shopping .fa-solid {
    display: block;
    font-size: 20px;
    color: #5D3EBC;
    font-size: 20px;
    text-align: center;
  }
  .container header .fa-bars {
    display: block;
    color: black;
    font-size: 25px;
    cursor: pointer;
  }
  .container header .cart {
    display: none;
  }
  .container header .cart .fa-solid {
    display: block;
  }
  .container nav .row-bar {
    display: none;
  }
  .container .signIn {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 15px;
  }
  .container .signIn span {
    font-size: 12px;
    font-weight: bold;
  }
  .container .signIn .fa-bolt {
    color: #FAB700;
  }
  .container .signIn a {
    font-weight: 600;
    text-decoration: none;
  }
  .container .signIn a span {
    color: #5D3EBC;
  }
  .container .middle .img-Box {
    width: 100%;
    height: 20%;
  }
  .container .middle .img-Box img {
    height: 100%;
    border-radius: 0;
  }
  .products {
    width: 100%;
  }
  .products .echo {
    width: 90%;
  }
  .products .echo .items {
    font-size: 10px;
  }
  .products .echo .items img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 301px) and (max-width: 760px) {
  .container .middle {
    width: 100%;
  }
  .container .middle .img-Box {
    height: 70%;
    width: 100%;
  }
  .container .middle .img-Box img {
    height: 100%;
    border-radius: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 1020px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container .logo1 {
    width: 80px;
    text-align: center;
  }
  .container .logo1 img {
    width: 100%;
  }
  .container header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
  .container header .logo {
    display: none;
  }
  .container header .fa-bars {
    display: block;
    font-size: 30px;
  }
  .container header .location {
    display: none;
  }
  .container header .location .fa-solid {
    display: none;
  }
  .container header .location .loc-text {
    display: none;
  }
  .container header .cart {
    display: none;
  }
  .container header .cart .fa-solid {
    display: none;
  }
  .container header label {
    width: 80%;
    height: 60%;
  }
  .container header .shopping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #5D3EBC;
  }
  .container header .shopping .fa-solid {
    display: block;
    font-size: 25px;
    color: #5D3EBC;
  }
  .container nav .row-bar {
    display: none;
  }
  .container nav .signIn {
    display: block;
    width: 100%;
    padding: 20px;
    padding-top: 0;
  }
  .container nav .signIn .fa-bolt {
    color: #FAB700;
  }
  .container nav .signIn a {
    text-decoration: none;
    font-weight: bold;
  }
  .container .middle .products .echo .items img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1020px) {
  .container .middle .img-Box {
    width: 80%;
    height: 100%;
  }
}