@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


@mixin box-size($bg-color: rgb(1, 1, 1)) {
    width: 100px;
    height: 100px;
    background-color: $bg-color;
}


// @mixin flex-center($main-color) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

//     @mixin box-style($bg-color) {
//         width: $child-width;
//         height: $child-height;
//         background-color: $bg-color;
//         border-radius: $border-radius;

    
    
// }