@mixin ajusting($flex-d:column,$jc:space-between,$al-it:center) {
    display: flex;
    flex-direction: $flex-d;
    justify-content: $jc;
    align-items: $al-it;
 
}

@mixin jc-and-al-it($jc: space-between, $al-it:center, $flex-r:row) {
    display: flex;
    flex-direction: $flex-r;
    justify-content: $jc;
    align-items: $al-it;
}
   

// btn style btn size

@mixin btn-style{
    border:none;
     width: $btn-w;
    height: $btn-h;
}
// backgroun image size

@mixin backg{
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  
}
