// Colors  
$main-color: #FAB700;  
// $background-color: green; 

// Layout  
$full-width: 100%;  
$full-height: 100vh;  
$border-radius: 10px; 

// Section Dimensions
$section-width: 100%;

// Image URLs
$background-imaging: url(#); 

// Display Defaults
$flex-v: row;
$justify-space-between: space-between;


// paddings
$padding-sides: 0 150px;